<nav class="breadcrumb-nav container">
  <a href="/">Início</a>

  {% liquid
    assign collection_list = ""
    assign current_collection = collection
    assign parent_collection = collection.metafields.custom.value.value

    for i in (1..5)
      assign collection_list = collection_list | append: current_collection
    endfor
    
  %}
</nav>
  
  <nav class="container mb-3">
    {% assign parent_collection = collection.metafields.custom.parent.value %}
    
    {% if parent_collection %}
      <a href="{{ parent_collection.url }}" class="go_back-link">← Voltar a {{ parent_collection.title }}</a>
    {% endif %}
  </nav>



  