<nav class="breadcrumb-nav container">
  <a href="/">Início</a>

  {% liquid
    assign collection_list = "" | split: ""
    assign current_collection = collection
    assign parent_collection = current_collection.metafields.custom.parent.value

    for i in (1..5)
      assign collection_list = collection_list | push: current_collection

      if parent_collection != blank 

        assign current_collection = parent_collection
  
      else 
        break
  
      endif
  
    endfor
  %}
</nav>
  
  <nav class="container mb-3">
    {% assign parent_collection = collection.metafields.custom.parent.value %}
    
    {% if parent_collection %}
      <a href="{{ parent_collection.url }}" class="go_back-link">← Voltar a {{ parent_collection.title }}</a>
    {% endif %}
  </nav>



  