<div class="container" id="configurador">
  <header class="page__header row">
    <h1 class="page__title heading h1 col-12">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}
    
    <div class="form__input-row row mt-5 mb-4">
      <div class="form__input-wrapper col-12 col-md-4 mb-4 mb-md-0">
        <div class="select-wrapper select-wrapper--primary">
          <select name="marca" id="cruz_brands" class="configurador-input">
            <option value="">Marca do Veículo</option>
          </select>
        </div>
      </div>

      <div class="form__input-wrapper col-12 col-md-4" style="display: block;">
        <div class="select-wrapper select-wrapper--primary">
          <select name="modelo" id="cruz_models" class="configurador-input">
            <option value="">Modelo do Veículo</option>
          </select>
        </div>
      </div>

      <div class="form__input-wrapper col-12 col-md-4" style="display: block;">
        <div class="select-wrapper select-wrapper--primary">
          <select name="modelo" id="cruz_bodies" class="configurador-input">
            <option value="">Escolha uma Viatura</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", async function () {
    const endpoint = "https://macos.apps.bydas.com/";
    let brands = [];

    await fetch(`${endpoint}?action=cruz_brands`, {
      headers: { "Content-Type": "application/json" }
    })
      .then((res) => {
        if (!res.ok) {
          console.error("Couldn't fetch brands");
          return null;
        }

        return res.json();
      })
      .then((data) => {
        if (data && data.brands) {
          brands = data.brands;
        }
      })
      .catch((error) => console.error(error))

    const brandsElement = document.getElementById("cruz_brands");

    if (brandsElement) {
      for (const brand of brands) {
        const option = document.createElement("option");
        option.value = brand.IdBrand;
        option.innerText = brand.Brand;
        
        brandsElement.appendChild(option);
      }
    }
  });
</script>
