<div class="container" id="configurador">
  <header class="page__header row">
    <h1 class="page__title heading h1 col-12">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}
    
    <div class="form__input-row row mt-5 mb-4">
      <div class="form__input-wrapper col-12 col-md-4 mb-4 mb-md-0">
        <div class="select-wrapper select-wrapper--primary">
          <select name="marca" id="cruz_brands" class="configurador-input">
            <option value="">Marca do Veículo</option>
          </select>
        </div>
      </div>

      <div class="form__input-wrapper col-12 col-md-4" style="display: block;">
        <div class="select-wrapper select-wrapper--primary">
          <select name="modelo" id="cruz_models" class="configurador-input">
            <option value="">Modelo do Veículo</option>
          </select>
        </div>
      </div>

      <div class="form__input-wrapper col-12 col-md-4" style="display: block;">
        <div class="select-wrapper select-wrapper--primary">
          <select name="modelo" id="cruz_models" class="configurador-input">
            <option value="">Escolha uma viatura</option>
          </select>
        </div>
      </div>
    </div>

    <div id="optionsToChoseFrom"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    
  });
</script>
