{% liquid 
  assign placement = popover_placement | default: 'left' 

  if trigger == "customer"

    assign popover_msg = "Inicie sessão com uma conta aprovada para ver os preços e adicionar produtos ao carrinho."

  else

    assign popover_msg = "O produto não está disponível."
    
  endif
%}

<a
  tabindex="0"
  type="button"
  class="{% if main_product_page %}my-0{% endif %}"
  data-bs-container="body"
  data-bs-toggle="popover"
  data-bs-placement="{{ placement }}"
  data-bs-content="{{ popover_msg }}"
  data-bs-trigger="focus"
  style="width:fit-content; z-index: 2; position: relative"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="rgb(255, 160, 0)"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-info"
  >
    <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line>
  </svg>
</a>
