<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Teste</h3>
            <iframe src="https://designrr.page/?id=411296&token=2351182603&type=FP&h=5560" height="600" width="100%" allow="fullscreen" frameborder="0"></iframe>
        </div>
        <div class="col-6">
            <h3>Teste</h3>
            <iframe src="https://designrr.page/?id=366776&token=1129655975&type=FP&h=3380" height="600" width="100%" allow="fullscreen" frameborder="0"></iframe>
        </div>
    </div>
    
</div>


{% schema %}
{
    "name": "Catalog",
    "class": "section-catalog",
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Catalog"
        }
    ]
}
{% endschema %}