<div class="container">
    <div class="row">
        <div class="col-6">
            <iframe allowfullscreen src="https://designrr.page/?id=411296&token=2351182603&type=FP&h=5560" height="600" width="100%"></iframe>
        </div>
    </div>
</div>


{% schema %}

{
    "name": "Catalog",
    "class": "section-catalog",
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Catalog"
        }
    ]
}

{% endschema %}