<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Nossas Moradas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="col-12 col-lg-4">
                <h3>MACOS SEDE</h3>
                <div>geral@macos.pt</div>
                <div>228 347 140<br>chamada p/ a rede fixa nacional</div>
                <div>Rua de Silva Porto, Nº50, Porto</div>
                <div>Segunda a Quinta: 8:30 às 12:30 e das 13:30 às 18:00 horas</div>
                <div>Sexta-feira: 8:30 às 12:30 e das 13:30 às 17:00 horas</div>
            </div>
            <div class="col-12 col-lg-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4247.494339158996!2d-8.616690119725629!3d41.168742817775794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2465ad4d4568ad%3A0xcdf19c43118910!2sMacos%20-%20Extras%20e%20Acess%C3%B3rios%20P%2F%20Autom%C3%B3veis%20Lda!5e0!3m2!1spt-PT!2spt!4v1743697309730!5m2!1spt-PT!2spt" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-12"></div>
    </div>
</div>


{% schema %}
{
    "name": "Maps",
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Maps"
        }
    ]
}
{% endschema %}