<section class="container-fluid w-100">
  <div class="row justify-content-center align-items-center w-100">
    <div class="col-12 col-lg-6 h-100 p-0">
      <div id="highlights-slideshow" class="">
        
        {% for slide in section.blocks %}

          <div class="carousel-cell">
            {% if slide.settings.image != blank %}
              <img src="{{ slide.settings.image | image_url }}" width="" height="" alt="slide">

            {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0914/4015/2907/files/logo.png?v=1741088326" width="100%" height="" alt="Macos logo">
              
            {% endif %}
          </div>
          
        {% endfor %}
        
      </div>
    </div>
    
    <div class="col-12 col-lg-6 highlights-images d-flex flex-column p-0 h-100">
      
      {% if section.settings.top-image != blank %}
        <img src="{{ section.settings.top-image | image_url }}" width="100%" height="40%" alt="MACOS">
      {% endif %}
    
      {% if section.settings.bottom-image != blank %}
        <img src="{{ section.settings.bottom-image | image_url }}" width="100%" height="60%" alt="MACOS">
      {% endif %}
      
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Slideshow custom",
    "class": "section-slideshow-custom",
    "settings": [
      {
        "type": "image_picker",
        "id": "top-image",
        "label": "Top image"
      },
      {
        "type": "image_picker",
        "id": "bottom-image",
        "label": "Bottom image"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow Custom"
      }
    ]
  }
{% endschema %}