p, h1, h2, h3, h4, h5, div {
  font-family: inherit;
}

body {
  font-family: "Univers", sans-serif !important;
  font-weight: 400 !important;
}

a {
  text-decoration: none;
}
a:hover, .active {
  color: #FF9800 !important;
}

.full-unstyled-link {
  color: rgb(255, 160, 0); /* orange */
}

h1 {
  font-family: 'Univers', sans-serif;
  font-weight: 300;
}

/* top menu */
.section-top-menu {
  text-transform: uppercase;
  font-weight: 400;
}

.slider-component-full-width .slider--desktop .slider__slide:first-child{
  margin-left:0 !important
}

/* submit buttons */
.card .button[type="submit"], 
.card .button[type="submit"] span, 
.newsletter-submit-button-wrapper * {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-stretch: condensed;
  letter-spacing: 0.1rem;
  min-width: 0;
}

/* flickity buttons */
.flickity-button-icon {
  fill: white;
}
.flickity-button {
  background: rgba(100, 100, 100, .6);
}
.flickity-button:hover {
  background: rgba(75, 75, 75, .7);
}
.flickity-prev-next-button {
  width: 4rem;
  height: 4rem;
}


/* section product categories and subcategories */
.section-product-categories-description {
  color: rgb(180, 180, 180);
}
.section-product-categories .category-card {
  width: 170px;
  height: 260px;
  margin-right: 4rem;
}
.category-image {
  width: 100%;
  height: 170px;
}
.category-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.category-title a {
  color: black;
}
.section-product-categories .flickity-prev-next-button {
  position: absolute;
  top: 35%;
}
.section-product-categories .flickity-prev-next-button.next {
  right: -8rem;
}
.section-product-categories .flickity-prev-next-button.previous {
  left: -8rem;
}
#categories-carousel:focus, 
#categories-carousel *:focus, 
#main-carousel:focus, 
#main-carousel *:focus {
  outline: none;
  box-shadow: none;
}


/* section featured collection new products */
.section-featured-new-products {
  background-color: rgb(240, 240, 240);
}
.collection__title.title-wrapper--self-padded-tablet-down {
  padding: 0 !important;
}


/* section featured collection */
.section-featured-collection {
  background-color: rgb(230, 230, 230);
  border-top: 3px solid rgb(220, 220, 220)
}
.section-featured-collection .collection__title {
  padding: 0 !important
}


/* highlights slideshow */
#highlights-slideshow, 
#highlights-slideshow .carousel-cell {
  width: 100%;
  min-height: 300px;
  aspect-ratio: 15/9;
}
#highlights-slideshow .carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#highlights-slideshow:focus,
#highlights-slideshow *:focus {
  outline: none;
  box-shadow: none;
}
#highlights-slideshow .flickity-page-dots {
  bottom: 10px;
}


/* new products card */
#new-products-card .card-image-wrapper {
  width: 45%;
  height: 100%;
}
#new-products-card .card-content-wrapper {
  width: 55%;
  height: 100%;
  padding: 0 1.5rem 1.5rem 0;
}
#new-products-card .product-card-buttons-wrapper {
  background: transparent;
  display: grid;
  grid-template-rows: minmax(0, 1fr) maxcontent minmax(0, 1fr);
  width: 100%;
  flex-grow: 1;
  padding: 2rem;
}
#new-products-card .product-card-buttons-wrapper button[name="add"] {
  color: rgb(0, 0, 0);
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0));
  min-width: 50%;
  word-break: keep-all;
}
#new-products-card .full-unstyled-link::after {
  z-index: 1;
}

/* card products */
.w-custom {
  width: 40%;
}

#card-product-custom .card__media, 
#card-product-custom .card__media  {
  all: unset;
}
.card-wrapper:hover {
  transition: none;
  transform: none;
}
.product-card-buttons-wrapper {
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0));
  min-width: 50%;
  word-break: keep-all;
}
.product-card-buttons-wrapper *, 
.product-card-buttons-wrapper *::before, 
.product-card-buttons-wrapper *::after, 
.product-card-buttons-wrapper .quantity:focus {
  background: transparent;
}
.product-card-buttons-wrapper button[type="submit"]{
  padding: 0;
}
.product-card-buttons-wrapper button[type="submit"]:hover{
  text-decoration: underline;
  color: white !important;
}
.product-card-buttons-wrapper button[type="submit"]::after {
  content: none;
}
.product-card-buttons-wrapper .quantity{
  min-height: 0;
  outline: 1px solid rgba(50, 50, 50, 0.75);
  border-radius: 20px;
  padding: 0.3rem 0;
}
.product-card-buttons-wrapper .quantity::after {
  content: none;
}
.product-card-buttons-wrapper .quantity__input {
  padding: 0;
}
.product-card-buttons-wrapper .quantity__button {
  padding: 0;
  width: 25%;
}


/* advantages section */
.section-advantages, 
.section-footer-macos {
  background-color: rgb(240, 240, 240);
}
.advantage-link {
  color: inherit;
  display: inline-block;
  width: 30rem;
  aspect-ratio: 1 / 1;
}
.advantage_card {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(220, 220, 220));
  transition: box-shadow 0.2s;
}
.advantage_card:hover {
  outline: 1px solid rgb(135, 135, 135);
  box-shadow: 0 1.5rem 2rem -2rem black;
  transition-duration: 0.3s;
}
.advantage_image {
  height: 80%;
  width: 100%;
}
.advantage_image img {
  width: 50%;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}
.advantage_label{
  height: 20%;
  width: 100%;
}


/* section newsletter */
.newsletter-inner-shadow {
  box-shadow: inset 0 28px 50px -50px rgb(0, 0, 0);
}
.newsletter-form__field-wrapper .field::after, 
.newsletter-form__field-wrapper .field::before {
  content: none;
}
.newsletter-input:focus {
  border: unset;
  outline: unset;
  border-radius: unset;
}
.newsletter-input, 
.newsletter-input:focus, 
.newsletter-input:focus-visible {
  background-color: rgb(230, 230, 230);
  border-radius: 25px;
}
.newsletter-submit-button {
  position: static;
  overflow: visible;
  width: auto !important;
  height: auto !important ;
  padding: 0.75rem 4rem;
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0));
  border-radius: 7px;
  transition: box-shadow 0.3s;
}
.newsletter-submit-button:hover {
  box-shadow: 0 1.5rem 2rem -2rem black !important;
  text-decoration: underline;
  transition-duration: 0.3s;
}
.newsletter-form__field-wrapper .field {
  width: 65%;
}
.newsletter-form__field-wrapper .newsletter-submit-button-wrapper {
  width: 30%;
}
.newsletter-title {
  width: auto;
}
.newsletter-form__field-wrapper, 
.newsletter__wrapper .newsletter-form__field-wrapper, 
.newsletter-form {
  max-width: none !important;
  width: 100% !important;
} /* removing width limitation on newsletter input */


/* section brands logos */
.brand-image {
  height: 18rem;
}

/* footer  */
.social-media-icons-footer {
  gap: 5rem;
}
.footer-contacts-wrapper {
  font-size: 1.4rem;
}
.footer-contacts-wrapper a {
  color: inherit;
}
.footer-contacts-wrapper a:hover {
  text-decoration: underline;
}
.footer-contacts-wrapper p {
  margin: 0;
}
.footer__content-bottom {
  padding-top: 0 !important;
}


/* section footer macos */
.section-footer-macos a {
  text-decoration: none;
  color: unset;
}



/* ######### MEDIA QUERIES ######### */

@media all and (max-width: 1401px) {
  
  .section-product-categories .category-card {
    width: 140px;
    height: 230px;
    margin-right: 4rem;
  }
  .category-image {
    height: 140px;
  }

  .brand-image {
    height: 17rem;
  }
  
}

@media all and (max-width: 1201px) {

  .category-title {
    font-size: 15px;  
  }

  .brand-image {
    height: 16rem;
  }
  
}

@media all and (max-width: 993px) {

  ..advantage-link {
    width: 20rem;
    height: 20rem;
  }
  
}

@media all and (max-width: 768px) {

  .section-top-menu a{
    padding: 0 3px !important;
    font-size: 9px !important;
  }
  
  .section-top-menu div{
    padding:0 !important
  }
  
  .section-product-categories .category-card {
    width: 110px;
    height: 200px;
    margin-right: 3rem;
  }
  
  .category-image {
    height: 110px;
  }
  
  .category-title {
    font-size: 14px;  
  }

  .newsletter-form__field-wrapper .field {
    width: 100%;
  }

  .brand-image {
    height: 15rem;
  }

  .flickity-prev-next-button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .section-product-categories .flickity-prev-next-button {
    top: 30%;
  }
  .section-product-categories .flickity-prev-next-button.next {
    right: -6rem;
  }
  .section-product-categories .flickity-prev-next-button.previous {
    left: -6rem;
  }
  
}

@media all and (max-width: 577px) {

  .section-product-categories {
    padding: 3rem 0 0 !important;
  }
  
  .flickity-prev-next-button.next,
  .flickity-prev-next-button.previous {
    display: none;
  }
  
}











