h1, h2, h3, h4, h5 {
  font-family: "Roboto Condensed", sans-serif !important;
}

p, small, a, span, div {
  font-family: "Roboto", sans-serif !important;
}

small {
  position: relative;
  top: -0.5rem;
}

hr {
  padding: 0;
  margin: 4rem auto;
}

.sr-only {
  display: none !important;
}

.header {
  background-color: rgb(220, 220, 220) !important;
}

.header-description {
  font-family: "Russo One", sans-serif !important;
  opacity: 0.5;
  font-size: 12px;
  grid-column: 2;
}

a {
  text-decoration: none !important;
}
a:hover, 
.section-top-menu a.page-active,
.footer-block__details-content .list-menu__item--active {
  color: #FF9800 !important;
}
.pagination .active, .pagination__item--current {
  border-radius: 50% !important;
}
.full-unstyled-link {
  color: rgb(255, 160, 0); /* orange */
}
.go_back-link, 
.children-categories a {
  color: rgb(60, 60, 60);
}

p > iframe {
  border-radius: 2rem;
}

#shopify-pc__banner button {
  color: black !important;
}

/* --- PRIVACY BANNER --- */
#shopify-pc__banner,
#shopify-pc__prefs__dialog {
  border-radius: 2rem;
}
#shopify-pc__banner button:not([id="shopify-pc__banner__btn-manage-prefs"]) {
  color: white !important;
  border: none;
  padding: 1rem 4rem !important;
}
.shopify-pc__prefs__header-actions button {
  border: none !important;
}

/* --- INPUTS --- */
.field, 
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
#AddAddress select,
div[id^=EditAddress] select,
textarea {
  /* background-color: rgb(235, 235, 235) !important; */
  background-color: white !important;
  border-radius: 25px !important;
  border: none;
  box-shadow: none;
}
.field:not(:has(.search__input)):not(:has([id^="NewsletterForm"])),
#AddAddress select {
  outline: 1px solid rgb(225, 225, 225) !important;
}

input[id^="NewsletterForm"],
.search .field, 
.search input,
.search__button * {
  background-color: rgb(235, 235, 235) !important;
}

#CustomerEmail:focus,
#CustomerPassword:focus,
.field:focus, 
input[type="text"]:focus,
input[type="tel"]:focus,
#AddAddress select:focus,
div[id^=EditAddress] select:focus,
textarea:focus {
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(175, 175, 175) !important;
}

#AddAddress select:focus-visible {
  outline: none !important;
}
#AddAddress .select .svg-wrapper {
  right: 1.5rem;
}

/* removing borders from inputs */
.login-button::after,
.field::after,
.select::after {
  content: none !important;
}

/* --- BUTTONS --- */

/* submit buttons */
.card .button[type="submit"], 
.card .button[type="submit"] span,
.button-configurador,
.reseller-form__submit, 
.newsletter-submit-button-wrapper * {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  letter-spacing: 0.1rem;
  min-width: auto;
  margin-bottom: 0;
  border: none;
}

#shopify-pc__banner button:not([id="shopify-pc__banner__btn-manage-prefs"]),
.shopify-pc__prefs__header-actions button,
.newsletter-submit-button,
.reseller-form__submit,
.button-configurador,
.login-button {
  position: static;
  overflow: visible;
  width: auto !important;
  height: auto !important ;
  padding: 0.75rem 4rem;
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0)) !important;
  border-radius: 7px !important;
  transition: box-shadow 0.2s;
}

button:not(:has(img, svg)),
.button:not(:has(img, svg)) {
  text-transform: uppercase;
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0));
  color: white !important;
}
button::after {
  content: none !important;
}
.button::after {
  box-shadow: none;
  /* border: 1px solid rgba(50, 50, 50, 0.75); */
}

#shopify-pc__banner button:not([id="shopify-pc__banner__btn-manage-prefs"]):hover,
.shopify-pc__prefs__header-actions button:hover,
.newsletter-submit-button:hover,
.reseller-form__submit:hover {
  box-shadow: 0 1.5rem 2rem -2rem black !important;
  text-decoration: underline;
  transition-duration: 0.2s;
}

/* flickity buttons */
.flickity-button-icon {
  fill: white;
}
.flickity-button {
  background: rgba(100, 100, 100, .6);
}
.flickity-button:hover {
  background: rgba(75, 75, 75, .7);
}
.flickity-prev-next-button {
  width: 4rem;
  height: 4rem;
}

.pagination__list {
  width: 100%;
}

/* top menu */
.section-top-menu {
  text-transform: uppercase;
  font-weight: 400;
  font-stretch: condensed;
  width: 100%;
}
.section-top-menu a {
  font-family: "Roboto Condensed", sans-serif !important;
}
.top-menu-dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  display: none;
}
.top-menu li:hover > .top-menu-dropdown {
  display: block;
}

.slider-component-full-width .slider--desktop .slider__slide:first-child{
  margin-left:0 !important
}

/* search section */
.search *:not(h2):not(#predictive-search-results-groups-wrapper), 
.search *:focus {
  border-radius: 3rem;
}
.search .field:after {
  content: none !important;
}
.search input:focus {
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(175, 175, 175);
}

.slider-component-full-width {
  padding: 0 !important;
}

/* section product categories, subcategories and breadcrumb */
.section-product-categories-description {
  color: rgb(180, 180, 180);
  margin-bottom: 1px;
}
.category-card {
  width: 170px;
  height: auto;
  margin-right: 4rem;
  padding-bottom: 1rem;
}
.category-card:hover .category-title a,
.category-card.card-active .category-title a {
  color: #FF9800;
}
.category-image {
  width: 100%;
  height: 170px;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}
.category-image:hover,
.category-card.card-active .category-image {
  box-shadow: 1rem 1rem 2.2rem -2rem black;
}
.category-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.category-card img {
  transition: scale 0.2s ease;
}
.category-card:hover img,
.category-card.card-active img {
  scale: 1.04;
}
.category-title {
  line-height: 2.5rem;
}
.category-title a {
  color: rgb(10, 10, 10);
  font-size: 1.5rem;
}
.section-product-categories .flickity-prev-next-button {
  position: absolute;
  top: 35%;
}
.section-product-categories .flickity-prev-next-button.next {
  right: -8rem;
}
.section-product-categories .flickity-prev-next-button.previous {
  left: -8rem;
}
#categories-carousel:focus, 
#categories-carousel *:focus, 
#main-carousel:focus, 
#main-carousel *:focus {
  outline: none;
  box-shadow: none;
}
.children-categories {
  display: none;
  width: 36.5rem;
  z-index: 999;
  background: white;
  border-radius: 3rem;
  padding: 2rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: -25px !important;
}
.children-categories a {
  cursor: pointer;
  padding: 2px 5rem;
}
.main-category-link {
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ddd;
  margin-bottom: 0.5rem;
  display: block;
}

.card-active {
  text-decoration: underline;
  color: #FF9800;
  font-weight: 600;
}

/* section featured collection new products */
.section-featured-new-products {
  background-color: rgb(240, 240, 240);
}
.collection__title.title-wrapper--self-padded-tablet-down {
  padding: 0 !important;
}

/* section featured collection */
.section-featured-collection {
  background-color: rgb(230, 230, 230);
  /* border-top: 3px solid rgb(220, 220, 220); */
}
.section-featured-collection .collection__title {
  padding: 0 !important
}

/* breadcrumb */
.breadcrumb-nav a {
  color: rgb(80, 80, 80);
  text-decoration: underline !important;
}

/* highlights slideshow */
.highlights-section {
  width: 100vw;
  aspect-ratio: 30 / 9;
}
/* .slideshow-wrapper {
  aspect-ratio: 30 / 9;
  width: 100%;
  height: auto;
} */
#highlights-slideshow {
  height: 100% !important;
}
#highlights-slideshow:focus,
#highlights-slideshow *:focus {
  outline: none;
  box-shadow: none;
}
#highlights-slideshow .carousel-cell {
  width: 100% !important;
  height: 100%;
}
#highlights-slideshow .carousel-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}
#highlights-slideshow .flickity-page-dots {
  bottom: 1rem;
}
#highlights-slideshow .flickity-page-dots .dot {
  background: rgba(0, 0, 0, 0.5) !important;
  opacity: 1;
}
#highlights-slideshow .flickity-page-dots .dot.is-selected {
  background: rgb(255, 160, 0) !important;
}
.highlights-mosaics {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  gap: 0.5rem
}
.highlights-mosaics a {
  display: block;
}
.highlights-mosaics a:first-child {
  height: 40%;
}
.highlights-mosaics a:last-child {
  height: 60%;
}
.highlights-mosaics img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.card:hover .card__information a {
  text-decoration: underline !important;
}
/* new products card */
#new-products-card {
  height: 100%;
}
#new-products-card .card-image-wrapper {
  width: 45%;
  height: 100% !important;
}
#new-products-card .card-content-wrapper {
  width: 55%;
  height: 100%;
}
#new-products-card .product-card-buttons-wrapper {
  background: transparent;
  display: grid;
  grid-template-rows: minmax(0, 1fr) maxcontent minmax(0, 1fr);
  width: 100%;
  height: auto;
  flex-grow: 1;
}
#new-products-card .product-card-buttons-wrapper button[name="add"] {
  color: rgb(0, 0, 0);
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0));
  min-width: 50%;
  word-break: keep-all;
}
#new-products-card .full-unstyled-link::after {
  z-index: 1;
}
#new-products-card .card__content,
#new-products-card .card__information {
  padding: 0;
}

/* card products */
.price-item {
  font-weight: 500;
}
.card__media .media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__media img {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
  position: static !important;
}
.w-custom {
  width: 40%;
}
.shopify-payment-button__button {
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(40, 40, 40));
}
.shopify-payment-button__button::after {
  content: none;
}
.main-product-buy-button {
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0));
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}
/* .shopify-payment-button__button {
  outline: 1px solid #a3a3a36b;
  background-color: #ffffff;
  color: #FF9800;
} */
.main-product-buy-button::after {
  content: none;
}
#card-product-custom .card__media {
  all: unset;
}
.card-wrapper:hover {
  transition: none;
  transform: none;
}
.product-card-buttons-wrapper {
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0));
  min-width: 50%;
  word-break: keep-all;
}
.product-card-buttons-wrapper *, 
.product-card-buttons-wrapper *::before, 
.product-card-buttons-wrapper *::after, 
.product-card-buttons-wrapper .quantity:focus {
  background: transparent;
}
.product-card-buttons-wrapper .quantity__button {
  transition: scale 100ms;
}
.product-card-buttons-wrapper .quantity__button:hover {
  scale: 1.3;
}
.product-card-buttons-wrapper button[type="submit"]{
  padding: 0;
}
.product-card-buttons-wrapper button[type="submit"]:hover{
  text-decoration: underline;
  color: white !important;
}
.product-card-buttons-wrapper button[type="submit"]::after {
  content: none;
}
#card-product-custom .card__information {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: 2rem 1rem 0;
}
#card-product-custom .card__content {
  padding: 0 1rem;
}
.card__heading a {
  font-size: 1.5rem !important;
  font-weight: 450;
}

/* quantity input */
.quantity {
  min-height: 4rem;
  outline: 1px solid rgba(50, 50, 50, 0.75);
  border-radius: 20px;
  padding: 0.3rem 0;
}
.quantity::after {
  content: none;
}
.quantity *:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.quantity__input, .quantity__input:focus {
  padding: 0;
  border-left: 1px solid rgba(50, 50, 50, 0.75);
  border-right: 1px solid rgba(50, 50, 50, 0.75);
}
.quantity__button {
  padding: 0;
  width: 25%;
}


/* advantages section */
.section-advantages {
  background-color: rgb(230, 230, 230);
}
.advantage-link {
  color: inherit;
  display: inline-block;
  width: 30rem;
  aspect-ratio: 1 / 1;
}
.advantage_card {
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(220, 220, 220));
  transition: box-shadow 0.2s, scale 0.2s;
}
.advantage_card:hover {
  /* outline: 1px solid rgb(135, 135, 135); */
  box-shadow: 0 1.5rem 2.2rem -2rem black;
  transition-duration: 0.3s;
  scale: 1.02;
}
.advantage_image {
  height: 80%;
  width: 100%;
}
.advantage_image img {
  width: 50%;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}
.advantage_label {
  height: 20%;
  width: 100%;
}
.advantage-info {
  opacity: 0;
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(225, 225, 225));
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  width: 100%;
  height: 80%;
  pointer-events: none;
  /* line-height: 2.4rem; */
}
.advantage_card:hover .advantage-info {
  opacity: 0.9;
  visibility: visible;
  transition-duration: 0.3s;
  scale: 1.01;
}

/* section newsletter */
.newsletter-inner-shadow {
  box-shadow: inset 0 28px 50px -50px rgb(0, 0, 0);
}
.newsletter-input:focus {
  border: unset;
  outline: unset;
  border-radius: unset;
  box-shadow: 0px 0px 5px 0px rgb(175, 175, 175) !important;
  scale: 1.01;
}

.newsletter-form__field-wrapper .field {
  width: 65%;
}
.newsletter-form__field-wrapper .newsletter-submit-button-wrapper {
  width: 30%;
}
.newsletter-title {
  width: auto;
}
.newsletter-form__field-wrapper, 
.newsletter__wrapper .newsletter-form__field-wrapper, 
.newsletter-form {
  max-width: none !important;
  width: 100% !important;
} /* removing width limitation on newsletter input */


/* section brands logos */
.brand-image {
  height: 18rem;
}

/* footer  */
.section-footer-macos {
  background-color: rgb(240, 240, 240);
}
.footer-contacts-wrapper {
  font-size: 1.4rem;
}
.footer-contacts-wrapper a,
.page-contact a {
  color: inherit;
}
.footer-contacts-wrapper a:hover {
  text-decoration: underline;
}
.footer-contacts-wrapper p {
  margin: 0;
}
.footer__content-bottom {
  padding-top: 0 !important;
}
.social-icon {
  transition: scale 100ms ease-in-out;
}
.social-icon:hover {
  scale: 1.1;
}


/* .phone-icon {
  position: relative;
  top: -1.3rem;
} */

.whatsapp-icon-fixed img {
  width: 5.3rem;
}
.whatsapp-icon-fixed {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 99999;
  opacity: 0.75;
  transition: opacity 150ms, scale 150ms;
}
.whatsapp-icon-fixed:hover {
  opacity: 1;
  transition-duration: 150ms;
  scale: 1.09;
}
.whatsapp-label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem;
  pointer-events: none !important;
}

.whatsapp-icon-fixed:hover .whatsapp-label {
  opacity: 1;
  visibility: visible;
}

/* simple pages (main-page.liquid) */
.side-image img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  border-radius: 3rem;
  object-fit: contain;
}

/* page contacts / map section */

/* .contact-fields-custom .field, 
.contact-fields-custom .field:focus, 
.contact-fields-custom .field:focus-visible,
.contact-fields-custom.field,
.contact-fields-custom.field:focus,
.contact-fields-custom.field:focus-visible,
.contact-fields-custom .field__input {
  background-color: white !important;
}
.contact-fields-custom .field,
.contact-fields-custom.field {
  border: 1px solid rgb(225, 225, 225);
} */
.contact-fields-custom .field__input:focus {
  box-shadow: 0px 0px 5px 0px rgb(175, 175, 175) !important;
  scale: 1.01;
}

.call-label {
  font-size: 1.150rem;
}
.contact-email-input {
  width: calc(200% + 2rem);
}
.map-row {
  background-color: rgb(240, 240, 240);
  border-radius: 2.5rem;
}
.page-contact p {
  margin-bottom: 0;
}
.page-contact-info {
  line-height: 2.5rem;
  font-size: 1.5rem;
}
.section-map-icon {
  width: 30px;
}
.contact a {
  color: rgb(80, 80, 80);
}
.contact button[type="submit"]:after {
  content: none;
}

/* form revendedor */
.reseller-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.reseller-form__title {
  color: #FF9800;
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}
.reseller-form__subtitle {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}
.reseller-form__input-wrapper {
  width: 45%;
  position: relative;
}
.reseller-form__required {
  color: #FF9800;
  margin-right: 5px;
}
.reseller-form__input {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px solid #ddd;
  border-radius: 3rem;
  transition: box-shadow 30ms;
}
.reseller-form__input:focus {
  outline: none;
  border: none;
  transition-duration: 30ms;
}
.reseller-form__checkbox-label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}
.reseller-form__checkbox {
  margin-right: 10px;
}
.reseller-form__submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.reseller-form__error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}
.reseller-form__success {
  color: green;
  text-align: center;
  margin-top: 20px;
  display: none;
}
.validation-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}


/* --- configuradores --- */

/* input select */
.select-wrapper,
#AddAddress select {
  position: relative;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url('https://cdn.shopify.com/s/files/1/0914/4015/2907/files/icon-dropdown-16px.svg?v=1743600211');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
.configurador-input {
  width: 100%;
  padding: .8rem 3.5rem .8rem 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: rgba(0, 0, 0, 0.8);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition-duration: 75ms;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}
.configurador-input:focus, 
.configurador-input:focus-visible {
  border: none;
  outline: none;
  box-shadow: rgba(18, 18, 18, 0.3) 0px 0px 5px 1px;
}


/* cards/results */
.card-configurador {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2.5rem;
  background-color: white;
}
.card-configurador .card_title {
  padding: 3rem 3rem;
  font-family: 'Univers', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}
.card-configurador .card_section {
  padding: 2rem 2rem 3rem;
  font-size: 1.5rem;
}
.card-configurador table {
  width: 100%;
}
.card-configurador tbody {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.card-configurador th, 
.card-configurador td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.150);
}
.card-configurador .configurador-pdf {
  color: rgb(255, 120, 0);
}
.btoptionprice {
  display: block;
  padding: 18px 10px 10px 10px;
  margin: 0;
  max-height: 200px;
  line-height: 2rem;
  font-size: 1.4rem;
  align-self: start;
}
.btprice {
  color: rgb(230, 107, 0); 
  float: right; 
  font-size: 2rem;
}
.button-configurador {
  background: linear-gradient(135deg, rgb(255, 160, 0), rgb(255, 120, 0));
  border: none;
  outline: none;
  width: 100%;
}
.button-configurador:hover, 
.card-configurador .configurador-pdf:hover {
  text-decoration: underline;
}
.button-configurador::after {
  content: none;
}
img.btoptioni {
  float: left;
  width: 200px;
  padding: 10px;
  margin: 0;
  border: none;
  outline: none;
  border-radius: 2rem;
}
.rte table th,
.rte table td {
  padding: 3px 6px;
}
.card-barras-tejadilho {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-barras-content {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  list-style-type: none !important;
}
.card-barras-content li {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 0.5fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
.card-barras-content li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.component-header * {
  font-weight: 600;
}
.option-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none !important;
}
.barras-price-container {
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.facets-container select {
  padding: 0 1.5rem !important;
}
.facets-container select:focus-visible,
.facets-container select:focus {
  outline: none;
  box-shadow: none;
}

/* page product - images */
.page-product_image-container, 
.page-product_image-container * {
  border-radius: 2rem;
}
.thumbnail-slider * {
  border-radius: 2rem;
}
.thumbnail[aria-current] {
  border: 0;
  outline: 2px solid rgba(100, 100, 100, 0.75) !important;
  box-shadow: none !important;
}

/* page news - blogs */
.article-card-wrapper .article-card {
  border-radius: 2rem;
  overflow: hidden;
}
.article-card-wrapper .article-card .card__inner img {
  width: 100% !important;
  object-fit: cover !important;
}
.article-card-wrapper .article-card .card__content {
  padding: 0 2rem;;
}
.article-card__image.media {
  background-color: white;
}
.article-card-wrapper .card__information {
  padding: 2rem 0 0.5rem !important;
}
.article-card__excerpt {
  font-size: 1.55rem;
}

/* cart */
.cart__warnings .button::after,
.cart__checkout-button::after,
.cart-drawer__empty-content .button::after {
  border: none;
  box-shadow: none !important;
  content: none;
}
.cart__warnings .button:hover,
.cart-drawer__empty-content .button:hover {
  color: white !important;
}
.cart-item {
  width: 100% !important;
}
.cart-item__image-container,
.cart-item__image-container img {
  border-radius: 2rem;
}

/* badges */
.card__badge span {
  font-weight: 40;
  letter-spacing: 1px;
}


/* ######### MEDIA QUERIES ######### */

@media all and (max-width: 1401px) {
  
  .section-product-categories .category-card {
    width: 140px;
    min-height: 230px;
  }
  .category-image {
    height: 140px;
  }

  .brand-image {
    height: 17rem;
  }

  /* .advantage-info {
    line-height: 2.3rem;
    font-size: 1.4rem;
  } */
  
}

@media all and (max-width: 1201px) {

  .category-title {
    font-size: 15px;  
  }

  .brand-image {
    height: 16rem;
  }
  
}

@media all and (max-width: 993px) {

  .highlights-section {
    aspect-ratio: unset;
  }
  #highlights-slideshow {
    width: 100% !important;
    aspect-ratio: 16 / 9;
  }
  .highlights-mosaics {
    padding-left: 0;
    gap: 0.5rem
  }

  .advantage-link {
    width: 20rem;
    height: 20rem;
  }

  .card-configurador .card_title {
    padding: 3rem 3rem 0;
    text-align: center;
  }
  .card-barras-content {
    flex-direction: column;
  }
  img.btoptioni {
    min-width: 40%;
    max-width: 65%;
    padding: 0;
    margin-bottom: 2rem;
  }
  .rte table th,
  .rte table td {
    padding: 3px 6px;
  }
  .btoptionprice {
    margin-left: 0;
    max-width: 100%;
    width: 90%;
    align-self: center;
  }
  .card-configurador table {
    width: 90%;
    justify-self: center;
  }

  .reseller-form__input-wrapper {
    width: 100%;
  }
  
}

@media all and (max-width: 768px) {

  .section-top-menu a {
    padding: 0 !important;
    font-size: 1.2rem !important;
  }
  
  .section-top-menu nav {
    padding: 0 1rem !important
  }
  
  .section-product-categories .category-card {
    width: 110px;
    min-height: 200px;
    line-height: 2.2rem;
  }
  
  .category-image {
    height: 110px;
  }
  
  .category-title {
    font-size: 14px;  
  }

  .newsletter-form__field-wrapper .field {
    width: 100%;
  }

  .brand-image {
    height: 15rem;
  }

  .flickity-prev-next-button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .section-product-categories .flickity-prev-next-button {
    top: 30%;
  }
  .section-product-categories .flickity-prev-next-button.next {
    right: -5.5rem;
  }
  .section-product-categories .flickity-prev-next-button.previous {
    left: -5.5rem;
  }

  #new-products_buttons-wrapper .price-per-item__container,
  #new-products_buttons-wrapper .buy-button_container {
    width: 100% !important;
  }

  .card-title-custom {
    font-size: 1.3rem;
  }

  .card-content-wrapper {
    padding: 1rem 1.2rem 1rem 0;
  }

  .btoptionprice,
  .card-configurador table {
    width: 100%;
    align-self: center;
  }
  img.btoptioni {
    min-width: 60%;
    margin-bottom: 1.5rem;
  }

}

@media all and (max-width: 749px) {
  .contact-email-input {
    width: 100%;
  }
}

@media all and (max-width: 577px) {

  #highlights-slideshow {
    width: 100% !important;
    aspect-ratio: 4 / 3;
  }
  #highlights-slideshow .carousel-cell img {
    object-fit: fill !important;
  }

  .advantage-link {
    width: 15rem;
    height: 15rem;
  }
  
  .flickity-prev-next-button.next,
  .flickity-prev-next-button.previous {
    display: none !important;
  }

  .collection-hero__title {
    font-size: 2.3rem;
  }

  .card-configurador table {
    width: auto;
  }
  
}











