@font-face {
  font-family: 'Univers';
  src: url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversBold.woff2?v=100180109035403449611743162091') format('woff2'),
       url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversBold.woff?v=154988641242922687631743164141') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversCnBold.woff2?v=77702403876502812521743162145') format('woff2'),
       url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversCnBold.woff?v=175140374663355643871743164162') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversRegular.woff2?v=115420022981607762211743162257') format('woff2'),
       url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversRegular.woff?v=176551883656902619131743164134') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversCnRg.woff2?v=63465678427073978401743162222') format('woff2'),
       url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversCnRg.woff?v=63950606092583522671743164185') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: 'Univers';
  src: url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversLight.woff2?v=180821651926270579521743162278') format('woff2'),
       url('//macos-auto.myshopify.com/cdn/shop/t/2/assets/UniversLight.woff?v=164998934099269021081743164205') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

